.card-member {
    background-color: black;
    border-style: groove;
    border-color: burlywood;
    border-width: 7px;  
}  

.container {
padding: 80px 120px;
}

.person {
border: 10px solid transparent;
margin-bottom: 25px;
width: 80%;
height: 80%;
opacity: 0.7;
}
.person:hover {
border-color: #f1f1f1;
}

